
/target/
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

target/m2e-wtp/web-resources/META-INF/maven/br.unisul.projeto/projetoProgWeb/pom.properties
.settings/org.eclipse.wst.common.component
target/m2e-wtp/web-resources/META-INF/maven/br.unisul.projeto/projetoProgWeb/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/br.unisul.projeto/projetoProgWeb/pom.properties
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/br.unisul.projeto/projetoProgWeb/pom.properties
target/classes/hibernate.cfg.xml
src/main/resources/hibernate.cfg.xml
.settings/org.eclipse.wst.common.component
target/classes/hibernate.cfg.xml
src/main/java/br/unisul/projeto/bean/SistemaBack.java
src/main/resources/hibernate.cfg.xml
target/classes/hibernate.cfg.xml
